<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/table"><!-- layout文件路径-->
<head>
    <title>医药管理系统</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/register.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/js/messages_zh.js}"></script>
    <script type="text/javascript" th:src="@{/js/clientregister.js}"></script>
</head>
<body>
<!-- 注册-->
<div id="form" class="table-responsive" layout:fragment="content" style="padding-left: 89px;padding-top: 32px; height: 609px;">
    <!-- <c:if test="${not empty uid}">
         <form action="/loginExperiment/updateUser?uid=${uid}" method="post" id="registForm" th:if="">
     <c:if test="${empty uid}">
         <form action="/loginExperiment/login" method="post" id="registForm">
     </c:if>-->
    <form action="/client/updatemallclient" method="get" id="registForm" >
        <div id="father">
            <div id="form2" style="height: 545px">
                <input type="text" style="display:none" name="ano" th:value="${admin.ano}"/>
                <table th:object="${client}" border="0px" width="100%" height="100%" align="center" cellpadding="0px" cellspacing="0px" bgcolor="white" style="border-collapse: separate; border-spacing: 0px 10px;">
                    <tr>
                        <td colspan="3" >
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <font size="5">顾客信息更新</font>&nbsp;&nbsp;&nbsp;USER UPDATE
                        </td>
                    </tr>
                    <!--<c:if test="${not empty uid}">
                        <tr type="hidden"></tr>
                    </c:if>-->
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;
                            <span th:text="编号不可修改 " style="color: red; font-size: 12px "></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <label for="sno">编号</label>
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input type="text" name="cno" size="35px" id="sno" placeholder = "编号" onblur="cherkBlur()" th:value="*{cno}" readonly="true"/>
                        </td>
                        <td>
                            <span id="snoError"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <label for="sname">姓名</label>
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input type="text" name="cname" size="35px" id="sname" placeholder = "姓名" onblur="cherkBlur()" th:value="*{cname}"/>
                        </td>
                        <td>
                            <span id="snameError"></span>
                            <span id="showResult"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <span th:text="原密码： " style="color: red; font-size: 12px "></span>
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<span th:text="*{cpassword}" style="color: red; font-size: 12px "></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <label for="spassword">密码</label>
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input type="password"  name="cpassword" size="35px" id="spassword" placeholder="输入6-18位密码" onblur="cherkBlur()" th:value="*{cpassword}"/>
                        </td>
                        <td>
                            <span id="passwordError"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <label for="repassword">确定密码</label>
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input type="password" name="repassword" size="35px" id="repassword" placeholder="确认密码" onblur="cherkBlur()" th:value="*{cpassword}"/>
                        </td>
                        <td>
                            <span id="repasswordError"></span>
                        </td>
                    </tr>
                    <!--<tr>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            用户类型
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;
                            <select name="type" id="choose" onblur="cherkBlur()">
                                <option>请选择</option>
                                <option value="客户"> 客户</option>
                                <option value="管理员"> 管理员</option>
                            </select>
                        </td>
                        <td>
                            <span id="chooseError"></span>
                        </td>
                    </tr>-->
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <label for="csex">性别</label>
                        </td>
                        <td>
                        <span style="margin-right: 155px;">
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input id="csex" type="radio" name="csex" value="男" onchange="cherkSex()" onblur="cherkBlur()" th:field="*{csex}"/>男
                            <input  type="radio" name="csex" value="女" onchange="cherkSex()" onblur="cherkBlur()" th:field="*{csex}"/>女<em></em>
                        </span>
                        </td>
                        <td>
                            <span id="sexError"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <label for="cage">年龄</label>
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input type="text" name="cage" size="35px" id="cage" placeholder = "输入年龄，必须是数字" onblur="cherkBlur()" th:value="*{cage}"/>
                        </td>
                        <td>
                            <span id="cageError"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <label for="caddress">地址</label>
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input type="text" name="caddress" size="35px" id="caddress" placeholder = "输入地址" onblur="cherkBlur()" th:value="*{caddress}"/>
                        </td>
                        <td>
                            <span id="caddressError"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <label for="cphone">电话</label>
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input type="text" name="cphone" size="35px" id="cphone" placeholder = "输入电话" onblur="cherkBlur()" th:value="*{cphone}"/>
                        </td>
                        <td>
                            <span id="cphoneError"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <label for="csymptom">症状</label>
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input type="text" name="csymptom" size="35px" id="csymptom" placeholder = "输入症状" th:value="*{csymptom}"/>
                        </td>
                        <td>
                            <span id="csymptomError"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="180px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;
                            <label for="cdate">录入日期</label>
                        </td>
                        <td>
                            <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input type="date" name="cdate" size="35px" id="cdate" placeholder = "输入日期" th:value="*{cdate}"/>
                        </td>
                        <td>
                            <span id="cdateError"></span>
                        </td>
                    </tr>
                    <!-- <tr>
                         <td width="180px">
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             &nbsp;&nbsp;&nbsp;
                             <label for="sdept">系别</label>
                         </td>
                         <td>
                             <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;<input type="text" name="sdept" size="35px" id="sdept" placeholder = "软件工程" onblur="cherkBlur()" value="软件工程"/>
                         </td>
                         <td>
                             <span id="sdeptError"></span>
                         </td>
                     </tr>
                    --> <!--<%&#45;&#45;<tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    兴趣爱好
                </td>
                <td>
                    <em style="color: red;">*</em>&nbsp;&nbsp;&nbsp;
                    <input name="hobby" type="checkbox" value="reading" onchange="changeHobby()"/> 阅读&nbsp;
                    <input name="hobby" type="checkbox" value="music" onchange="changeHobby()"/> 音乐&nbsp;
                    <input name="hobby" type="checkbox" value="sports" onchange="changeHobby()"/> 运动&nbsp;
                </td>
                <td>
                    <span id="hobbyError"></span>
                </td>
            </tr>&#45;&#45;%>-->
                    <tr>
                        <td colspan="3">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-lg btn-primary" type="submit">保存</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
</body>
</html>